@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
  background-color: #070709;
}

.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}

.ProseMirror {
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 4rem 2rem 4rem 5rem;
  caret-color: #000;
  outline-width: 0;
}

.ProseMirror.ProseMirror-focused > p.has-focus.is-block-empty:before {
  content: "Type  /  to browse options";
}

.ProseMirror > .is-block-empty:before {
  pointer-events: none;
  float: left;
  width: 100%;
  height: 0;
  color: hsla(0, 0%, 100%, 0.4);
}

:is(.dark .ProseMirror .is-block-empty):before {
  content: "Click here to start typing...";
  color: hsla(0, 0%, 100%, 0.4);
}

.ProseMirror
  blockquote
  .is-empty:not(.is-editor-empty):first-child:last-child:before {
  content: "Enter a quote";
}

.ProseMirror blockquote + figcaption.is-empty:not(.is-editor-empty):before {
  content: "Author";
}

.ProseMirror [data-placeholder][data-suggestion] :before,
.ProseMirror [data-placeholder][data-suggestion]:before,
.ProseMirror [data-type="details"].is-editor-empty:before {
  content: none !important;
}

.ProseMirror [data-type="details"] summary.is-empty:before {
  content: "Enter a summary";
}

.ProseMirror [data-type="detailsContent"] .is-empty:before {
  content: "Enter details";
}
